
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container > div {
  background-color: #f1f1f1;
  border: 1px dashed gray;
  margin: 0px;
  padding: 20px;
  min-height: 500px;
}

.report-container {
  display: flex;
  flex-direction: column;


    .report-header {
        margin:0;
    }

    .report-info {
        margin:0;
        border-bottom: 1px dotted gray;
    }
}

.report-container > div {
  display: block;
  width: 100%;
}

.alert-error {
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    display: none;
    background-color: #ffcccc;
    color: red;
    border: 1px solid red;
}

.alert-warning {
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    display: none;
    background-color: #ffffcc;
    color: orange;
    border: 1px solid orange;
}

.alert-success {
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    display: none;
    background-color: #ccffcc;
    color: green;
    border: 1px solid green;
}

.validation {

    h4.validation-header {
        margin: 0;
        width: 100%;
        border-bottom: 1px dotted gray;
    }

    p {
        margin: 0;
    }
}

.key {
  color: red;
}
.number {
  color: darkorange;
}
.string {
  color: green;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
