.home-bg {
  background-image: url("../assets/images/two-inspectors-darker.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 50% 65%;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark-banner {
  background: #333333;
  padding: 100px 0px;
  width: 100%;
  position: relative;
  text-align: center;
}

.banner-content {
  font-size: 18pt;
  color: white;
}

.padding-y {
    padding-top: 100px;
    padding-bottom: 100px;
}

.home-hero {
    min-height: 100vh;
    padding: 200px 50px;
}

.home-hero-content {
  color: white;
  text-shadow: 0 0 0.2rem #211d2dcc;
}

.home-hero-content h1 {
  color: white;
  text-shadow: 0 0 0.2rem #211d2dcc;
}

.success {
  color: #00A36C;
}
.warning {
  color: #FFBF00;
}
.error {
  color: #EE0F0F;
}