
.home-bg {
  background: linear-gradient(
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ), url("../assets/images/two-inspectors-in-yellow.png");

  /* Full height */
  min-height: 85vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 50% 65%;
  background-repeat: no-repeat;
  background-size: cover;
}


.home-footer {
  background: #333333;
  padding: 50px 0px 100px 0px;
  width: 100%;
  color: #cacaca;
  position: relative;
  text-align: center;
}

.validator-bg {
  background-image: url("../assets/images/validator.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 50px 0px;
  width: 100%;
  position: relative;
  text-align: center;

}




.text-shadow {
  text-shadow: 0 0 0.2rem #211d2dcc;
}

.dark-banner {
  background: #333333;
  padding: 100px 0px;
  width: 100%;
  position: relative;
  text-align: center;
}

.banner-content {
  font-size: 18pt;
  color: white;
}

.padding-y {
    padding-top: 100px;
    padding-bottom: 100px;
}

.home-hero {
    min-height: 90vh;
    padding: 150px 50px;
}

.home-hero-content {
  color: white;
  text-shadow: 0 0 0.2rem #211d2dcc;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:720px) {
    .home-hero {
        padding: 50px 50px;
    }
  .home-hero-content  { flex-wrap: wrap;  }
  .home-hero-content > div { flex-basis: 100%; }
}

.home-hero-content > div {
    width: 50%;
}

.home-hero-left {
  background-color: #000000aa;
  padding: 20px;
}

.home-hero-right {
  background-color: #333333aa;
  padding: 20px;
  text-align: center;
  background: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ), url("../assets/images/map-with-markers.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-hero-content h1 {
  color: white;
  text-shadow: 0 0 0.2rem #211d2dcc;
}

.mb-2 {
    margin-bottom: 20px;
}

.success {
  color: #00A36C;
}
.warning {
  color: #FFBF00;
}
.error {
  color: #EE0F0F;
}
